<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation Email</title>
</head>
<body>
  <h1>Booking Confirmation</h1>
  <p>
    You have successfully booked a flight
  </p>
  <p>
    To view your flight details, you can visit <%= @url %> and search your
    booking using your email address.
  </p>
  <p>
    Thank you for your patronage,
    Flight Booking Company
  </p>
</body>
</html>
