<h1 class="text-xl">Flights#index</h1>

<%= render "search_form", airport_codes: @airport_codes, flight_dates: @flight_dates %>

<% if @flights.any? %>
  <ul>
    <% @flights.each do |flight| %>
      <li><%= flight %></li>
    <% end %>
  </ul>
<% end %>