<h1 class="text-3xl">Find Flights</h1>

<%= render "search_form", airport_codes: @airport_codes, flight_dates: @flight_dates %>

<% if @flights.any? %>
  <%= render "select_form", flights: @flights, passengers: @passengers %>
<% end %>
