@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-1 px-8
           bg-sky-600 font-semibold text-white
           border-2 border-transparent rounded-md
           transition-all duration-200
           hover:bg-transparent hover:text-sky-600 hover:border-sky-600 cursor-pointer
           focus:bg-transparent focus:text-sky-600 focus:border-sky-600
           focus-within:bg-transparent focus-within:text-sky-600 focus-within:border-sky-600
           active:bg-transparent active:text-sky-600 active:border-sky-600;
  }
}